template {
    display: none;
}

.page-group {
    width: 100%;
}

@media screen and (min-width: 700px) {
    body {
        width: 700px;
        transform: translateX(-50%);
        left: 50%;

    }

    html {
        height: 100%;
        background: repeating-radial-gradient(#b8e7bf, #b8e7bf 5px, white 5px, white 10px);
        background: linear-gradient(to bottom, #8dd2d9 , #58c0c7);
    }
}

.buttons-tab .button {
    border: none;
}

.item-content:active {
    opacity: 0.7;
}

.list-block .item-content {
    cursor: pointer;
}

.video {
    position: absolute;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    z-index: 200;
    background-color: #000;
    z-index: 101;
}

.video video {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}

.buttons-tab {
    position: absolute;
    width: 100%;
    padding-top: 56.25%;
    z-index: 100;
}

.buttons-tab .tab-link-about{
    -webkit-box-flex: inherit;
    width: auto;
}

.tabs {
    padding-top: calc(56.25% + 2.5rem);
    padding-bottom: 0.5rem;
}

.list-block {
    margin: 0 !important;
}

.content-block-title {
    margin: 0.5rem;
}

#tab_search .content-padded {
    margin-top: 0;
}

.search-input .icon-remove {
    left: auto;
    right: 0.3rem;
}

.search-input [type='search'] {
    padding: 0.5rem;
}

.searchbar .button {
    background-color: transparent;
    color: #6d6d72;
    padding: 0;
}

.searchbar .button:active {
    background-color: transparent;
    opacity: 0.7;
}

.action-search {
    font-size: 0.9em;
    float: right;
}

.media-list > ul > li.play {
    border-left: 0.2rem solid #0894ec;
}

.media-list > ul > li {
    border-left: 0.2rem solid transparent;
}